# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compilación
bin/
obj/
*.dll
*.exe

# Dependencias
packages/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
# Fotos subidas por usuarios
CapaPresentacion/wwwroot/Fotos/*
!CapaPresentacion/wwwroot/Fotos/.gitkeep
