USE Prueba; 
GO
-- ==========================================
-- PROVEEDOR
-- ========================================
CREATE OR ALTER PROCEDURE sp_ListarProveedores
AS BEGIN
    SELECT Id, Nombre, Apellido, Contacto, Estado 
    FROM Proveedor
    WHERE Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_ObtenerProveedorPorId
    @Id INT
AS BEGIN
    SELECT Id, Nombre, Apellido, Contacto, Estado 
    FROM Proveedor
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_CrearProveedor
    @Nombre NVARCHAR(150),
    @Apellido NVARCHAR(150),
    @Contacto NVARCHAR(100)
AS BEGIN
    INSERT INTO Proveedor (Nombre, Apellido, Contacto, Estado)
    VALUES (@Nombre, @Apellido, @Contacto, 1);
    SELECT SCOPE_IDENTITY();
END
GO

CREATE OR ALTER PROCEDURE sp_EditarProveedor
    @Id INT,
    @Nombre NVARCHAR(150),
    @Apellido NVARCHAR(150),
    @Contacto NVARCHAR(100)
AS BEGIN
    UPDATE Proveedor
    SET Nombre = @Nombre, Apellido = @Apellido, Contacto = @Contacto
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_EliminarProveedor
    @Id INT
AS BEGIN
    UPDATE Proveedor
    SET Estado = 0
    WHERE Id = @Id AND Estado = 1;
END
GO

-- ==========================================
-- INSUMOCATEGORIA
-- ==========================================
CREATE OR ALTER PROCEDURE sp_ListarInsumoCategorias
AS BEGIN
    SELECT Id, Nombre, Estado 
    FROM InsumoCategoria
    WHERE Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_ObtenerInsumoCategoriaPorId
    @Id INT
AS BEGIN
    SELECT Id, Nombre, Estado 
    FROM InsumoCategoria
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_CrearInsumoCategoria
    @Nombre NVARCHAR(100)
AS BEGIN
    INSERT INTO InsumoCategoria (Nombre, Estado)
    VALUES (@Nombre, 1);
    SELECT SCOPE_IDENTITY();
END
GO

CREATE OR ALTER PROCEDURE sp_EditarInsumoCategoria
    @Id INT,
    @Nombre NVARCHAR(100)
AS BEGIN
    UPDATE InsumoCategoria
    SET Nombre = @Nombre
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_EliminarInsumoCategoria
    @Id INT
AS BEGIN
    UPDATE InsumoCategoria
    SET Estado = 0
    WHERE Id = @Id AND Estado = 1;
END
GO

-- ==========================================
-- UNIDADESMEDIDA
-- ==========================================
CREATE OR ALTER PROCEDURE sp_ListarUnidadesMedida
AS BEGIN
    SELECT Id, Nombre, Abreviatura, Estado 
    FROM UnidadesMedida
    WHERE Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_ObtenerUnidadMedidaPorId
    @Id INT
AS BEGIN
    SELECT Id, Nombre, Abreviatura, Estado 
    FROM UnidadesMedida
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_CrearUnidadMedida
    @Nombre NVARCHAR(50),
    @Abreviatura NVARCHAR(50)
AS BEGIN
    INSERT INTO UnidadesMedida (Nombre, Abreviatura, Estado)
    VALUES (@Nombre, @Abreviatura, 1);
    SELECT SCOPE_IDENTITY();
END
GO

CREATE OR ALTER PROCEDURE sp_EditarUnidadMedida
    @Id INT,
    @Nombre NVARCHAR(50),
    @Abreviatura NVARCHAR(50)
AS BEGIN
    UPDATE UnidadesMedida
    SET Nombre = @Nombre, Abreviatura = @Abreviatura
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_EliminarUnidadMedida
    @Id INT
AS BEGIN
    UPDATE UnidadesMedida
    SET Estado = 0
    WHERE Id = @Id AND Estado = 1;
END
GO

-- ==========================================
-- INSUMO
-- ==========================================
CREATE OR ALTER PROCEDURE sp_ListarInsumos
AS BEGIN
    SELECT i.Id, i.Nombre, i.Costo, i.Stock, i.StockMinimo, i.FotoUrl, i.Estado,
           i.InsumoCategoriaId, ic.Nombre AS NombreCategoria,
           i.ProveedorId, (p.Nombre + ' ' + p.Apellido) AS NombreProveedor,
           i.UnidadesMedidaId, um.Nombre AS NombreMedidas
    FROM Insumo i
    INNER JOIN InsumoCategoria ic ON i.InsumoCategoriaId = ic.Id
    INNER JOIN Proveedor p ON i.ProveedorId = p.Id
    INNER JOIN UnidadesMedida um ON i.UnidadesMedidaId = um.Id
    WHERE i.Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_ObtenerInsumoPorId
    @Id INT
AS BEGIN
    SELECT i.Id, i.Nombre, i.Costo, i.Stock, i.StockMinimo, i.FotoUrl, i.Estado,
           i.InsumoCategoriaId, ic.Nombre AS NombreCategoria,
           i.ProveedorId, (p.Nombre + ' ' + p.Apellido) AS NombreProveedor,
           i.UnidadesMedidaId, um.Nombre AS NombreMedidas
    FROM Insumo i
    INNER JOIN InsumoCategoria ic ON i.InsumoCategoriaId = ic.Id
    INNER JOIN Proveedor p ON i.ProveedorId = p.Id
    INNER JOIN UnidadesMedida um ON i.UnidadesMedidaId = um.Id
    WHERE i.Id = @Id AND i.Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_CrearInsumo
    @Nombre NVARCHAR(150),
    @Costo DECIMAL(10,2),
    @Stock DECIMAL(10,2),
    @StockMinimo DECIMAL(10,2),
    @FotoUrl NVARCHAR(MAX),
    @InsumoCategoriaId INT,
    @ProveedorId INT,
    @UnidadesMedidaId INT
AS BEGIN
    INSERT INTO Insumo (Nombre, Costo, Stock, StockMinimo, FotoUrl, InsumoCategoriaId, ProveedorId, UnidadesMedidaId, Estado)
    VALUES (@Nombre, @Costo, @Stock, @StockMinimo, @FotoUrl, @InsumoCategoriaId, @ProveedorId, @UnidadesMedidaId, 1);
    SELECT SCOPE_IDENTITY();
END
GO

CREATE OR ALTER PROCEDURE sp_EditarInsumo
    @Id INT,
    @Nombre NVARCHAR(150),
    @Costo DECIMAL(10,2),
    @Stock DECIMAL(10,2),
    @StockMinimo DECIMAL(10,2),
    @FotoUrl NVARCHAR(MAX),
    @InsumoCategoriaId INT,
    @ProveedorId INT,
    @UnidadesMedidaId INT
AS BEGIN
    UPDATE Insumo
    SET Nombre = @Nombre, Costo = @Costo, Stock = @Stock, StockMinimo = @StockMinimo, FotoUrl = @FotoUrl,
        InsumoCategoriaId = @InsumoCategoriaId, ProveedorId = @ProveedorId, UnidadesMedidaId = @UnidadesMedidaId
    WHERE Id = @Id AND Estado = 1;
END
GO

CREATE OR ALTER PROCEDURE sp_EliminarInsumo
    @Id INT
AS BEGIN
    UPDATE Insumo
    SET Estado = 0
    WHERE Id = @Id AND Estado = 1;
END
GO

-- ============================================================
-- MOVIMIENTO INVENTARIO
-- ============================================================
CREATE OR ALTER PROCEDURE sp_ListarMovimientosInventario
AS
BEGIN
    SELECT m.Id, m.InsumoId, i.Nombre AS NombreInsumo, m.Fecha, m.TipoMovimiento, m.Cantidad, m.Observacion, m.UsuarioId, u.Nombre AS NombreUsuario, m.Estado
    FROM MovimientoInventario m
    INNER JOIN Insumo i ON m.InsumoId = i.Id
    INNER JOIN Usuario u ON m.UsuarioId = u.Id
    WHERE m.Estado = 1
    ORDER BY m.Fecha DESC;
END;
GO

CREATE OR ALTER PROCEDURE sp_RegistrarMovimientoInventario
    @InsumoId INT,
    @TipoMovimiento NVARCHAR(50),
    @Cantidad DECIMAL(10,2),
    @Observacion NVARCHAR(300),
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO MovimientoInventario (InsumoId, TipoMovimiento, Cantidad, Observacion, UsuarioId, Fecha, Estado)
        VALUES (@InsumoId, @TipoMovimiento, @Cantidad, @Observacion, @UsuarioId, GETDATE(), 1);

        UPDATE Insumo
        SET Stock = Stock + @Cantidad
        WHERE Id = @InsumoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;
GO

-- ============================================================
-- CIERRE INVENTARIO
-- ============================================================
CREATE TYPE CierreInventarioTipo AS TABLE (
    InsumoId INT,
    CantidadTeorica DECIMAL(10,2),
    CantidadReal DECIMAL(10,2),
    Diferencia DECIMAL(10,2),
    Observacion NVARCHAR(300)
);
GO

CREATE OR ALTER PROCEDURE sp_ListarCierresInventario
AS
BEGIN
    SELECT c.Id, c.FechaHora, c.CantidadTeorica, c.CantidadReal, c.Diferencia, c.Observacion, c.UsuarioId, u.Nombre AS NombreUsuario, c.InsumoId, i.Nombre AS NombreInsumo, c.Estado
    FROM CierreInventario c
    INNER JOIN Insumo i ON c.InsumoId = i.Id
    INNER JOIN Usuario u ON c.UsuarioId = u.Id
    WHERE c.Estado = 1
    ORDER BY c.FechaHora DESC;
END;
GO

CREATE OR ALTER PROCEDURE sp_RegistrarCierreInventario
    @Cierres CierreInventarioTipo READONLY,
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Insertar en CierreInventario
        INSERT INTO CierreInventario (CantidadTeorica, CantidadReal, Diferencia, Observacion, FechaHora, Estado, UsuarioId, InsumoId)
        SELECT CantidadTeorica, CantidadReal, Diferencia, Observacion, GETDATE(), 1, @UsuarioId, InsumoId
        FROM @Cierres;

        -- 2. Actualizar stock del insumo a la cantidad real física contada
        UPDATE i
        SET i.Stock = c.CantidadReal
        FROM Insumo i
        INNER JOIN @Cierres c ON i.Id = c.InsumoId;

        -- 3. Generar movimiento de ajuste automático en la bitácora
        INSERT INTO MovimientoInventario (Fecha, TipoMovimiento, Cantidad, Observacion, Estado, InsumoId, UsuarioId)
        SELECT GETDATE(), 'Ajuste por cierre', Diferencia, ISNULL(Observacion, 'Ajuste automático de stock por cierre de inventario'), 1, InsumoId, @UsuarioId
        FROM @Cierres;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;
GO