@import "tailwindcss";

@theme {
    --color-primary: #080708; /*Negro: botones negacion y texto*/
    --color-secondary: #fa2020; /*Rojo: Titulo y efectos*/
    --color-tertiary: #F8961E; /*Naranja: Botones secundario*/
    --color-neutral: #f5f5f5; /*Gris: Fondo y elementos neutros*/
}